 <main class="flex flex-col justify-center items-center w-screen">
    <h1 class="text-3xl italic font-thin my-5">♡ my design work ♡</h1>
    <div class="flex justify-center items-center mb-10">
        <i class="bi bi-arrow-down"></i>
    </div>

    <div id="designs" class="lg:grid lg:grid-cols-3 sm:flex sm:flex-col md:w-[90%] w-[85%] items-stretch items-start justify-center gap-5">
    </div>
    </div>
 </main>

 <!-- load in script to get design data !-->
<script defer src="/js/designs.js"></script>