<main class="flex flex-col justify-center items-center w-screen">
    <div class="flex lg:flex-row flex-col justify-center lg:items-start items-center w-[85%] p-5 m-10 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-super-light-pink rounded-lg pt-5 pb-5 shadow-lg">
        <div class="flex flex-col justify-center items-start lg:w-[55%] md:w-[70%] w-[80%] p-5 m-10 lg:text-base text-lg">
            <h1 class="lg:text-3xl text-5xl font-bold bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text">♡ welcome, i'm sahar</h1>
            <p class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text">frontend + backend developer with a passion for javascript, cats, and pink</p>
            <p class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text">i love designing and developing beautiful and influential products that have a good purpose.</p>
            <p class="mt-10 bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text">♡ get to know me better and see some of my experience <a class="hover:text-[#7871A4] hover:underline" href="/work">here</a> ♡</p>
        </div>
        <img class="lg:w-[25%] w-[45%] rounded-full border-double border-light-pink border-[10px] m-5" src="/assets/me-1.png" alt="A picture of me">
    </div>
</main>
