<main class="flex flex-col justify-center items-center w-screen">
    <div class="flex lg:flex-row flex-col justify-center lg:items-start items-center w-[85%] text-center lg:text-left p-3 m-10 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-super-light-pink rounded-lg pt-5 pb-5 shadow-lg">
        <div class="flex flex-col justify-center items-center lg:items-start lg:w-[55%] md:w-[70%] w-[80%] p-3 m-10 text-lg lg:text-base">
            <h1 class="lg:text-3xl text-5xl font-bold bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text">welcome, i'm sahar</h1>
            <p class="mt-5 bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text">frontend + backend developer with a passion for javascript, cats, and pink</p>
            <p class="mt-5 bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text">i pride myself on my empathy and creativity, so i love designing and developing beautiful and influential products that have a good purpose</p>
            <p class="mt-10 bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text">see some of my projects <a class="hover:text-[#7871A4] hover:underline" href="/work">here</a> ♡</p>
            <p class="mt-10 bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text">want to see my resume? contact me <a class="hover:text-[#7871A4] hover:underline" href="/contact">here</a> ♡</p>
        </div>
        <img class="lg:w-[25%] w-[50%] rounded-xl border-double border-light-pink border-[10px] m-5" src="/assets/me-1.png" alt="A picture of me">
    </div>


    <h1 class="text-3xl italic font-thin my-5">♡ my work ♡</h1>
    <div class="flex justify-center items-center mb-10">
        <i class="bi bi-arrow-down"></i>
    </div>
    <div class="lg:grid lg:grid-cols-3 sm:flex sm:flex-col md:w-[90%] w-[85%] items-stretch items-start justify-center gap-3">
        <div class="flex flex-col m-10 content-center justify-center items-start flex-1 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-super-light-pink rounded-lg p-3 shadow-lg gap-1 md:mb-[0px] mb-[20px]">
            <div class="flex flex-col items-start justify-start w-[100%] m-2">
                <h1 class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-xl font-bold">
                    software engineer intern | vara
                </h1>
                <span class="text-[#7871A4] text-sm italic font-thin">
                    may 2024 ♡ august 2024
                </span>
            </div>

            <div class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-base w-[100%] m-2">
                led development of several user systems and a chatbot
            </div>

            <div class="flex flex-row flex-grow flex-shrink justify-between items-end w-[100%] m-2">
                <div class="flex flex-row justify-start flex-wrap items-center gap-2 w-[100%]">
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            react
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            javascript
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            tailwind
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            supabase
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            postgresql
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            chart.js
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            email.js
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="flex flex-col m-10 content-center justify-center items-start flex-1 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-super-light-pink rounded-lg p-3 shadow-lg gap-1 md:mb-[0px] mb-[20px]">
            <div class="flex flex-col items-start justify-start w-[100%] m-2">
                <h1 class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-xl font-bold">
                    graphic design marketing intern | msi americas
                </h1>
                <span class="text-[#7871A4] text-sm italic font-thin">
                    may 2024 ♡ august 2024
                </span>
            </div>

            <div class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-base w-[100%] m-2">
                designed logos, presentations, and other content to strengthen company branding
            </div>

            <div class="flex flex-row flex-grow flex-shrink justify-between items-end w-[100%] m-2">
                <div class="flex flex-row justify-start flex-wrap items-center gap-2 w-[100%]">
                    <!-- Relevant Skills -->
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            graphic design
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            branding
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col m-10 content-center justify-center items-start flex-1 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-super-light-pink rounded-lg p-3 shadow-lg gap-1 md:mb-[0px] mb-[20px]">
            <div class="flex flex-col items-start justify-start w-[100%] m-2">
                <h1 class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-xl font-bold">
                    remote extern | mobalytics
                </h1>
                <span class="text-[#7871A4] text-sm italic font-thin">
                    april 2024 ♡ may 2024
                </span>
            </div>

            <div class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-base w-[100%] m-2">
                synthesized game market research findings into actionable recommendations for market expansion
            </div>

            <div class="flex flex-row flex-grow flex-shrink justify-between items-end w-[100%] m-2">
                <div class="flex flex-row justify-start flex-wrap items-center gap-2 w-[100%]">
                    <!-- Relevant Skills -->
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            game analytics
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            market research
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col m-10 content-center justify-center items-start flex-1 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-super-light-pink rounded-lg p-3 shadow-lg gap-1 md:mb-[0px] mb-[20px]">
            <div class="flex flex-col items-start justify-start w-[100%] m-2">
                <h1 class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-xl font-bold">
                    tutor administrator | nyu
                </h1>
                <span class="text-[#7871A4] text-sm italic font-thin">
                    september 2024 ♡ current
                </span>
            </div>

            <div class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-base w-[100%] m-2">
                managed 7 tutors for intro to web design, ensuring smooth operation of tutoring for 6 classes and over 100 students
            </div>

            <div class="flex flex-row flex-grow flex-shrink justify-between items-end w-[100%] m-2">
                <div class="flex flex-row justify-start flex-wrap items-center gap-2 w-[100%]">
                    <!-- Relevant Skills -->
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            team management
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            communication
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            leadership
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col m-10 content-center justify-center items-start flex-1 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-super-light-pink rounded-lg p-3 shadow-lg gap-1 md:mb-[0px] mb-[20px]">
            <div class="flex flex-col items-start justify-start w-[100%] m-2">
                <h1 class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-xl font-bold">
                    python tutor | nyu
                </h1>
                <span class="text-[#7871A4] text-sm italic font-thin">
                    september 2024 ♡ current
                </span>
            </div>

            <div class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-base w-[100%] m-2">
                tutored 100+ students on python topics like control structures, loops, functions, and object-oriented programming
            </div>

            <div class="flex flex-row flex-grow flex-shrink justify-between items-end w-[100%] m-2">
                <div class="flex flex-row justify-start flex-wrap items-center gap-2 w-[100%]">
                    <!-- Relevant Skills -->
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            python
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col m-10 content-center justify-center items-start flex-1 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-super-light-pink rounded-lg p-3 shadow-lg gap-1 md:mb-[0px] mb-[20px]">
            <div class="flex flex-col items-start justify-start w-[100%] m-2">
                <h1 class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-xl font-bold">
                    web design tutor | nyu
                </h1>
                <span class="text-[#7871A4] text-sm italic font-thin">
                    february 2023 ♡ Current
                </span>
            </div>

            <div class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-base w-[100%] m-2">
                conducted virtual tutoring for 200+ students across 6+ classes, covering HTML, CSS, JavaScript, and web design topics
            </div>

            <div class="flex flex-row flex-grow flex-shrink justify-between items-end w-[100%] m-2">
                <div class="flex flex-row justify-start flex-wrap items-center gap-2 w-[100%]">
                    <!-- Relevant Skills -->
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            web design
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            javascript
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            html
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            css
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col m-10 content-center justify-center items-start flex-1 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-super-light-pink rounded-lg p-3 shadow-lg gap-1 md:mb-[0px] mb-[20px]">
            <div class="flex flex-col items-start justify-start w-[100%] m-2">
                <h1 class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-xl font-bold">
                    web dev tutor | nyu
                </h1>
                <span class="text-[#7871A4] text-sm italic font-thin">
                    january 2024 ♡ may 2024
                </span>
            </div>

            <div class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-base w-[100%] m-2">
                led tutoring sessions for 150+ students on key web development topics while providing personalized guidance and tracking student progress
            </div>

            <div class="flex flex-row flex-grow flex-shrink justify-between items-end w-[100%] m-2">
                <div class="flex flex-row justify-start flex-wrap items-center gap-2 w-[100%]">
                    <!-- Relevant Skills -->
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            apis
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            node.js
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            databases
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            sql
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            lamp stack
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            linux
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="flex flex-col m-10 content-center justify-center items-start flex-1 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-super-light-pink rounded-lg p-3 shadow-lg gap-1 md:mb-[0px] mb-[20px]">
            <div class="flex flex-col items-start justify-start w-[100%] m-2">
                <h1 class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-xl font-bold">
                    vice president | nyu winc
                </h1>
                <span class="text-[#7871A4] text-sm italic font-thin">
                    september 2024 ♡ current
                </span>
            </div>

            <div class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-base w-[100%] m-2">
                managed 12+ member e-board, organized events, drove 100+ membership growth, and enhanced marketing efforts
            </div>

            <div class="flex flex-row flex-grow flex-shrink justify-between items-end w-[100%] m-2">
                <div class="flex flex-row justify-start flex-wrap items-center gap-2 w-[100%]">
                    <!-- Relevant Skills -->
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            event coordination
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            community outreach
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            communication
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col m-10 content-center justify-center items-start flex-1 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-super-light-pink rounded-lg p-3 shadow-lg gap-1 md:mb-[0px] mb-[20px]">
            <div class="flex flex-col items-start justify-start w-[100%] m-2">
                <h1 class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-xl font-bold">
                    director of events + designer | nyu winc
                </h1>
                <span class="text-[#7871A4] text-sm italic font-thin">
                    september 2022 ♡ current
                </span>
            </div>

            <div class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text text-base w-[100%] m-2">
                directed partnerships with industry leaders and coordinated large-scale events, while managing newsletters, increasing club activity attendance by 33%
            </div>

            <div class="flex flex-row flex-grow flex-shrink justify-between items-end w-[100%] m-2">
                <div class="flex flex-row justify-start flex-wrap items-center gap-2 w-[100%]">
                    <!-- Relevant Skills -->
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            marketing
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            design
                        </span>
                    </div>
                    <div class="px-[10px] bg-gradient-to-br from-baby-pink to-light-light-pink rounded-md shadow-md inline">
                        <span class="bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text text-sm italic font-thin">
                            networking
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
