<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" title="Sahar's Portfolio" charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  </head>
  <body class="w-screen overflow-x-hidden font-Poppins text-[#7871A4] static">
    <header class="md:bg-gradient-to-b md:from-baby-pink md:to-transparent bg-white text-[#efa8d3] italic md:sticky md:top-0 md:left-0 md:overflow-hidden w-[100%] md:bg-opacity-[0.75] md:backdrop-filter md:backdrop-blur-[10px]">
      <!-- tailwind & js responsive nav tutorial from here: https://www.youtube.com/watch?v=vYowvsUiChs !-->
      <nav class="flex justify-between items-center w-[95%] mx-auto">
        <div class="md:m-[-30px] md:ml-[10px] ml-[10px] m-auto">
          <img class="md:w-1/6 w-1/6 opacity-100" src="/assets/website-logo.png" alt="logo">
        </div>
        <div class="flex items-center justify-center">
          <img onclick="onToggleMenu(this)" class="inline-block w-[75%] cursor-pointer md:hidden bg-transparent border-baby-pink border-solid border-[2px] p-1 rounded-md" src="/assets/nav.png" alt="nav logo">
        </div>
        <div class="nav-links mr-4 md:static md:bg-transparent bg-white absolute md:min-h-fit min-h-[26vh] left-0 top-[-100%] md:w-auto w-[100%] p-2 flex items-center px-5 z-50">
          <ul class="flex md:flex-row flex-col md:items-center md:gap-5 gap-8">
            <li>
              <a class="md:hover:border-white md:hover:bg-white md:hover:text-baby-pink hover:border-baby-pink hover:bg-baby-pink hover:text-white hover:rounded-full hover:px-4 hover:py-1 p-2" href="/">work</a>
            </li>
            <li>
              <a class="md:hover:border-white md:hover:bg-white md:hover:text-baby-pink hover:border-baby-pink hover:bg-baby-pink hover:text-white hover:rounded-full hover:px-4 hover:py-1 p-2" href="/work">projects</a>
            </li>
            <li>
              <a class="md:hover:border-white md:hover:bg-white md:hover:text-baby-pink hover:border-baby-pink hover:bg-baby-pink hover:text-white hover:rounded-full hover:px-4 hover:py-1 p-2" href="/about-me">about</a>
            </li>
            <li>
              <a class="md:hover:border-white md:hover:bg-white md:hover:text-baby-pink hover:border-baby-pink hover:bg-baby-pink hover:text-white hover:rounded-full hover:px-4 hover:py-1 p-2" href="/contact">contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
      {{{ body }}}
    <script>
      const navLinks = document.querySelector('.nav-links');
      // to toggle the menu
      function onToggleMenu(event) {
        navLinks.classList.toggle('top-[5rem]');
      }

      // to add 'active' class to the current page link
      document.addEventListener('DOMContentLoaded', function() {
        const currentLocation = window.location.pathname;
        const links = document.querySelectorAll('nav ul li a');
        links.forEach(link => {
          if (link.getAttribute('href') === currentLocation) {
            link.classList.add('underline');
          }
        });
      });
    </script>
    <footer class="mt-20 mb-10 flex justify-center items-center">
      <p class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text">♡ <a class="hover:text-[#7871A4] hover:underline" href="/">sahar bueno-abdala</a> | <a class="hover:text-[#7871A4] hover:underline" href="https://github.com/saharbueno">github</a> | <a class="hover:text-[#7871A4] hover:underline" href="https://www.linkedin.com/in/saharbueno/">linkedin</a> ♡</p>
    </footer>
  </body>
</html>
