 <main class="flex flex-col justify-center items-center w-screen">
    <h1 class="text-3xl italic font-thin my-5">♡ my projects ♡</h1>
    <div class="flex justify-center items-center mb-10">
        <i class="bi bi-arrow-down"></i>
    </div>

    <div id="errorM"></div>
    <form action="/work/search" method="GET" class="flex flex-row justify-center items-start text-left mb-5 md:w-[90%] w-[85%]">
        <input class="search-bar w-[50%] bg-baby-pink px-5 py-1 placeholder-[#7871A4] rounded-l-xl text-[0.85rem] focus:outline-none focus:ring-2 focus:ring-[#7871A4]" type="text" name="searchBar" placeholder="search through my projects..." value="">
        <span class="search-button w-min bg-[#7871A4] rounded-r-xl px-5 py-1 text-baby-pink text-[0.85rem] text-center font-thin flex items-center hover:bg-baby-pink hover:text-[#7871A4]">
            <input type="submit" value="search" class="h-full w-full bg-transparent">
            <i class="bi bi-search-heart ml-2"></i>
        </span>
    </form>

    <div id="repos" class="lg:grid lg:grid-cols-3 sm:flex sm:flex-col md:w-[90%] w-[85%] items-stretch items-start justify-center gap-5">
    </div>
    <!-- credit for image of the pokemon sylveon: https://imgbin.com/download/Vz9WCSWu !-->
    <!-- credit for image of the pokemon umbreon: https://imgbin.com/png/dNSB5uUA/umbreon-pixel-art-pok%C3%A9mon-espeon-png !-->
    </div>
 </main>

<!-- load in script to get api data !-->
<script defer src="/js/repos.js"></script>
